html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: black;
    transition: background-color 10s ease;
}

/* .text{
    color: white;
    display: inline;
    font-size: 30px;
    margin: auto;
} */

.greeting{
    font-size: 50px;
    margin: auto;
    position: relative;
    text-align: center;
    color: #e25555;
    font-weight: bolder;
    text-shadow: 10px 10px 5px rgba(12, 12, 12, 0.363);
    
    

}

.ucapan{
    font-size: 30px;
    color: rgb(61, 61, 61);
    /* margin: 100px 50px; */
    display: flex;
    text-align: center;
    margin-top: 0px;
}

.love{
    color: #e25555;
    display: inline;
    font-size: 40px;
}

p{
    font-family: 'Overlock', cursive;
}

.box{
    margin: 400px auto;
    width: 90%;
    position: relative;
}

.box2{
    width: 90%;
    border: 1px solid rgb(128, 128, 128);
    position: relative;
    margin: 50px auto;
    background-color: wheat;
    border-radius: 20px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.541);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    width: 70%;
    height: 300px;
    margin: 30px auto 50px; 
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.541);
    background-color: white;
}
  
.box2 .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Anda dapat menyesuaikan margin sesuai kebutuhan */
}
.container{
    position: relative;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.stiker{
    width: 200px;
    margin: 30px auto 0px;
    border-radius: 30px;
    position: relative;
    display: block;
}



.hide {
    display: none;
}
  

@keyframes love-animation {
    0% {
      transform: translateY(0) rotate(0);
      opacity: 1;
    }
    100% {
      transform: translateY(800px) rotate(360deg);
      opacity: 0;
    }
  }
  
  .heart {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    color: red;
    animation-name: love-animation;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    pointer-events: none;
  }

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out-animation {
  animation: fade-out 0.5s forwards;
}

.fade-in-animation {
  animation: fade-in 0.5s forwards;
}

@keyframes typing {
    from {
      width: 0;
    }
  }
  
.typed-text {
  overflow: auto;
  white-space: nowrap;
  animation: typing 2s steps(40) 1s forwards;
  display: inline;
  font-size: 30px;
  margin: auto;
  position: relative;
  z-index: 100;
  text-align: center;
}
  
.gab{
  width: 90%;
  text-align: center;
  margin: auto;
}


.el{
  width: 150px;
  border-radius: 20px;
  display: none;
}

